@import "../../assets/style-tokens/color-palette";

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin-top: 60px;

  &__main {
    width: 100%;
    padding: 22px 22px 80px 22px;

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      &-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.5);
        object-fit: cover;
      }
    }
  }
}
