@import "../../assets/style-tokens/color-palette";

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin-top: 60px;

  &__main {
    width: 100%;
    padding: 22px 22px 80px 22px;

    .coins {
      width: 100%;
      height: 100%;
      border: 2px solid $primary;
      border-bottom: none;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      margin-top: 34px;
      padding: 12px 22px 22px 22px;

      &__separator {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 12px;

        span {
          width: 100px;
          height: 6px;
          border-radius: 5px;
          background-color: $primary;
        }
      }

      &__title {
        font-size: 20px;
        margin-bottom: 12px;
      }

      &__search {
        input {
          border-color: $primary;
          border-radius: 5px;
        }
      }

      &__list {
        margin-top: 24px;
      }
    }
  }
}
