@import "../../assets/style-tokens/color-palette";

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 2px solid $primary;
  height: 60px;
  padding: 0px 22px;
  position: fixed;
  top: 0;
  background-color: $white;
  z-index: 9999;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    svg {
      width: 25px;
      height: 25px;
      cursor: pointer;
      color: $primary;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
  }
}
