@import "./assets/style-tokens/_color-palette";
@import "./assets/style-tokens/_fonts";
@import "./assets/style-tokens/_mixins";
@import "./assets/style-tokens/_helpers";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $black;
  background: #161623;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(#ffcc00, #0082a9);
  // clip-path: circle(30% at right 70%);
  z-index: -1;
}

.btn {
  border-style: none;
  border-radius: 5px;
  color: $black;
  cursor: pointer;

  span {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    opacity: 0.9;
  }

  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.secondary {
    color: $black;
    border-style: solid;
    border-color: $primary;
  }

  &.black {
    color: $white;
    border-style: solid;
    border-color: $dark;
    background-color: $dark;
  }

  &.stretched {
    width: 100%;
  }

  &.icon {
    border-color: transparent;
    color: $black;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      color: $white;
      background-color: $primary;
    }
  }

  &:disabled {
    background-color: $gray;
    color: $lightGray;
  }
}

.spinner {
  animation: 1s spin linear infinite;
  width: 90px;
  height: 90px;
  color: $primary;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant {
  &-modal-wrap {
    top: 70px;
  }

  &-radio {
    &-checked {
      .ant-radio-inner {
        border-color: $primary;
      }
    }
    &-inner {
      border-color: $primary;

      &::after {
        background-color: $primary;
      }
    }
  }
}
