// .ant-modal.transfer-modal {
//   width: 518px !important;
// }

.get-coins-modal {
  .ant-modal {
    &-content {
      .ant-modal-body {
        .modal-title {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 15px;
        }
      }
    }
  }
}
